<div class="container-fulid bg-dark-subtle">
  <div class="container bg-secondary-subtle" style="height: 100vh">
    <div class="h5 p-3">Quiz App</div>
    <hr />
    <div class="text-center display-6">Asp.Net Quiz</div>
    <hr />
    <div class="d-flex flex-row">
      <div class="me-auto">
        <span class="bg-warning-subtle p-2">
          Question {{ currentPage }} / {{ totalpages }}</span
        >
      </div>
      <div class="ms-auto">
        <span class="bg-danger-subtle p-2"
          >Time : {{ defaultTime }} Seconds left</span
        >
      </div>
    </div>

    <div class="text-center m-3 h4">
      {{ questions[currentPage - 1].question }}
    </div>
    <div>
      <div class="row p-3 bg-light m-2">
        <ul *ngFor="let ans of questions[currentPage - 1].answer">
          <li>
            <input type="radio" name="answer" id="answer" [value]="ans" />
            {{ ans }}
          </li>
        </ul>
      </div>
    </div>

    <hr />

    <div class="text-center">
      <button class="btn btn-outline-dark m-1" (click)="firstPage()">
        First
      </button>
      <button class="btn btn-outline-dark m-1" (click)="prevPage()">
        Prev
      </button>
      <button class="btn btn-outline-dark m-1" (click)="nextPage()">
        Next
      </button>
      <button class="btn btn-outline-dark m-1" (click)="lastPage()">
        Last
      </button>
    </div>

    <div class="">
      <ul class="p-4 pagination list-unstyled justify-content-center">
        <li class="page-item">
          <a
            class="page-link"
            [class.disabled]="currentPage === 1"
            (click)="prevPage()"
            >previous</a
          >
        </li>
        <li
          class="page-item"
          *ngFor="let page of pages"
          [class.active]="page === currentPage"
        >
          <a class="page-link" (click)="goToPages(page)">{{ page }}</a>
        </li>
        <li class="page-item">
          <a
            class="page-link"
            [class.disabled]="currentPage === totalpages"
            (click)="nextPage()"
            >next</a
          >
        </li>
      </ul>
    </div>
    <hr />

    <div class="p-2">
      <button class="btn btn-outline-dark m-1">Quiz</button>
      <button class="btn btn-outline-dark m-1">Review</button>
      <button class="btn btn-outline-dark m-1">Submit</button>
    </div>
  </div>
</div>
